<mat-toolbar class="app-toolbar">
  <button class="app-icon-button" (click)="toggleSideNav()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
  <span>{{title}}</span>

  <span class="app-flex-filler"></span>


  <div *ngIf="user">
    <table>
      <tr>
        <td style="padding-top:20px">
          <button class="app-icon-button2" (click)="gotoMyAlerts()"  mat-tooltip="Alerts">
              <i class="material-icons app-toolbar-menu2">notifications</i>
          </button>
          <!--<button class="app-icon-button2" (click)="displayChanges()" md-tooltip="Change History">
              <i class="material-icons app-toolbar-menu2">list</i>
          </button>
          <button class="app-icon-button2" (click)="gotoMyNotifications()"  md-tooltip="Notifications">
              <i class="material-icons app-toolbar-menu2">announcement</i>
          </button>-->
          <button class="app-icon-button2" (click)="gotoMyRequests()"  mat-tooltip="Requests">
              <i class="material-icons app-toolbar-menu2">email</i>
          </button>
        </td>
        <td>
            <img style="margin-top: 0px" md-card-avatar class="circle" [src]="user.imageUrl" />
        </td>
        <td>
          <button mat-icon-button [mat-menu-trigger-for]="menu" id="user-dropdown-toggler">
            {{ user.fullname }}
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu" x-position="before">
            <button mat-menu-item (click)="gotoMySettings()"> My Settings</button>
            <button mat-menu-item> Help</button>
            <button mat-menu-item (click)="signOut()"> Sign Out</button>
          </mat-menu>
        </td>
      </tr>
    </table>
  </div>
</mat-toolbar>